.btn {
  background-color: green;
}

.link {
  color: green;
}

div {
  background-color: red;
}
div button {
  background-color: green;
}
div button:hover {
  background-color: blue;
}

.header {
  background-color: red;
}
